.post-photo-container {
  margin: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 530px;
  /* background-color: rgb(222, 218, 218); */
  background-color: rgb(60, 59, 59);
  box-shadow: 0px 4px 10px rgb(188, 185, 185);
}

.current-post-image {
  height: 530px;
}



.post-info-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* border: 2px solid red; */
}

.post-title {
  padding-bottom: 20px;
  margin-bottom: 10px;
  margin-top: 40px;
}

.owner-info {
  /* border: 2px solid green; */
  width: 100px;
  min-height: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.post-owner-icon {
  margin-top: 25px;
  padding-top: 20px;
  height: 70px;
}

.post-owner {
  font-weight: bold;
  font-size: 20px;
}

.text-area {
  display: flex;
  flex-direction: row;
  margin-top: 10px;
  border-top: 1.5px solid rgb(218, 214, 214);
}

.current-post-image:hover {
  cursor: pointer;
}

.single-post-photo-container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 20px;
  width: 600px;
  height: 760px;
  margin: auto;
  margin-bottom: 30px;
}

#post-text-container {
  width: 550px;
  height: 60px;
  box-sizing: border-box;
  word-wrap: break-word;
  margin-left: 16px;
}

#post-text {
  font-size: 16px;
}

.comments-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 30px;
}

.post-comment {
  border-bottom: 1.5px solid rgb(218, 214, 214);
  padding-bottom: 10px;
}

/* .arrow-icon-left {
  font-size: 20px;
  font-weight: 100;
  top: 37.5%;
  left: -130px;
  color: rgba(147, 141, 141, 0.898);
  margin-right: 200px;
  z-index: 1 !important;
} */

.arrow-icon-left {
  font-size: 20px;
  font-weight: 100;
  top: 50%;
  left: 10px;
  color: rgba(147, 141, 141, 0.898);
  z-index: 1 !important;
  position: absolute;
  transform: translateY(-50%);
}

/* .arrow-icon-right {
  font-size: 20px;
  font-weight: 100;
  top: 37.5%;
  right: -130px;
  color: rgba(147, 141, 141, 0.898);
  margin-left: 200px;
  z-index: 1 !important;
} */

.arrow-icon-right {
  font-size: 20px;
  font-weight: 100;
  top: 50%;
  right: 10px;
  color: rgba(147, 141, 141, 0.898);
  z-index: 1 !important;
  position: absolute;
  transform: translateY(-50%);
}

.arrow-icon-right:hover,
.arrow-icon-left:hover {
  cursor: pointer;
}


/* .arrow-icon-left.disabled,
.arrow-icon-right.disabled {
  opacity: 0.5;
  cursor: not-allowed;
} */







.post-dots-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding-top: 0;
  /* margin-bottom: 30px; */
  /* z-index: 10; */
  height: 20px;
  font-size: 50px;
  color: rgb(166, 149, 157);
  margin-left: 20px;
  /* border: 2px solid red; */
}

.post-dots-container:hover {
  cursor: pointer;
  color: aqua;
}

/* .post-big-dots {
    border: 2px solid green;
    font-size: 50px;
    color: rgb(166, 149, 157);
    padding-bottom: 0;
    z-index: 3000;
    height: 30px;
  } */

.dropdown {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: none;
  background-color: transparent;
  border-radius: 10px;
  width: 150px;
  height: 80px;
  margin-bottom: 150px;
  margin-right: 100px;
}

.new-post-modal {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-left: 50px;
  width: 120px;
  margin-bottom: 2px;
}

.new-post-modal:hover {
  cursor: pointer;
  transform: scale(1.05);
  background-color: aqua;
}



.horizontal-line {
  border-top: 1px solid rgb(83, 74, 78);
  margin: 10px 0;
  width: 90%;
  margin-top: 5px;
  margin-bottom: 5px;
}



.post-info-main {
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
}


.left-container {

}





.post-dots-container1 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 0;
  height: 20px;
  font-size: 50px;
  color: rgb(166, 149, 157);
  margin-right: 200px;
  margin-top: 130px;
  right: -200px;

}

.post-dots-container1:hover {
  cursor: pointer;
  color: aqua;
}

#add-post-id {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 0;
  background-color: rgb(30, 206, 206);
  height: 25px;
  width: 220px;
  border: none;
  color: white;
  font-size: 14px;
  border-radius: 5px;
  margin-top: 45px;
  margin-left: 0%;
}

#add-post-id:hover {
  cursor: pointer;
  background-color: aqua;
}
