.post-photo-container {
  margin: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 530px;
  /* background-color: rgb(222, 218, 218); */
  background-color: rgb(60, 59, 59);
  box-shadow: 0px 4px 10px rgb(188, 185, 185);
}

.current-post-image {
  height: 530px;
}

.post-info-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.post-title {
  padding-bottom: 20px;
  margin-bottom: 10px;
  margin-top: 40px;
}

.owner-info {
  /* border: 2px solid green; */
  width: 100px;
  min-height: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.post-owner-icon {
  margin-top: 25px;
  padding-top: 20px;
  height: 70px;
}

.post-owner {
  font-weight: bold;
  font-size: 20px;
}

.text-area {
  display: flex;
  flex-direction: row;
  margin-top: 10px;
  border-top: 1.5px solid rgb(218, 214, 214);
}

.current-post-image:hover {
  cursor: pointer;
}

.single-post-photo-container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 20px;
  width: 600px;
  height: 760px;
  margin: auto;
  margin-bottom: 30px;
}

#post-text-container {
  width: 550px;
  height: 60px;
  box-sizing: border-box;
  word-wrap: break-word;
  margin-left: 16px;
}

#post-text {
  font-size: 16px;
}

.comments-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 30px;
}

.post-comment {
  border-bottom: 1.5px solid rgb(218, 214, 214);
  padding-bottom: 10px;
}


.arrow-icon-left {
    font-size: 20px;
    font-weight: 100;
    top: 37.5%;
    left: -130px;
    color: rgba(147, 141, 141, 0.898);
    z-index: 1000;
    margin-right: 140px;
  }

  .arrow-icon-right {
    font-size: 20px;
    font-weight: 100;
    top: 37.5%;
    right: -130px;
    color: rgba(147, 141, 141, 0.898);
    z-index: 1000;
    margin-left: 140px;
  }


  .arrow-icon-right:hover,
  .arrow-icon-left:hover {
    cursor: pointer;
  }
