.main-collection-details-container {
display: flex;
flex-direction: column;
/* z-index: 3000; */
}

.collection-details {
    /* border: 2px solid red; */
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(60, 59, 59);
    height: 200px;
}

.Masonry {
    flex-direction: column;
}

.image-grid {
    max-width: 1024px;
    margin: 0 auto;
    padding: 0 0;
    box-sizing: content-box;
    min-height: calc(100vh - 100px);
}

.my-masonry-grid {
    display: flex;
    margin-left: 0;
    width: auto;
}

.my-masonry-grid_column {
    padding-left: 0;
    background-clip: padding-box;
}

.my-masonry-grid_column > div {
    max-width: 100%;
    width: 100%;
    margin-bottom: 0;
}

.collection-details {
    /* border: 2px solid red; */
    display: flex;
    flex-direction: column;
    align-items: center;
}


.image-grid1 {
    max-width: 1024px;
    margin: 0 auto;
    padding: 0 0;
    box-sizing: content-box;
    min-height: calc(100vh - 100px);
}


.main-home-container1 {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
}

.main-home-container1 > *:first-child {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: center;

}

.feedback-container {
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#link-add-post-button {
    font-size: 24px;
    text-decoration: none;
    background-color: rgb(30, 206, 206);
    font-size: 20px;
    border-radius: 10px;
    border: none;
    color: white;
    height: 70px;
    width: 420px;
}


#link-add-post-button:hover {
    cursor: pointer;
    background-color: aqua;
}


#link-add-post-button1 {

    font-size: 14px;
    text-decoration: none;
    background-color: rgb(30, 206, 206);
    font-size: 14px;
    border-radius: 10px;
    border: none;
    color: white;
    height: 45px;
    width: 250px;
    margin-top: 50px;
    margin-bottom: 0;
    margin-left: 20px;
}


#link-add-post-button1:hover {
    cursor: pointer;
    background-color: aqua;
}

.collection-dots-container {
    display: flex;
    flex-direction: column;
    align-items: top;
    justify-content: center;
    padding: 0;
    height: 300px;
}

.collection-name {
    margin-top: 30px;
    color: white;
    font-size: 50px;
}

.collection-description {
    color: rgb(181, 178, 178);
    margin-top: 30px;
    font-style: oblique;
}

.collection-type {
    color: rgb(234, 232, 232);
    font-size: 26px;

}

.menu-text.new-post-modal1 {
    /* border: 2px solid blue; */
    width: 200px;
    margin-right: 90px;
    margin-bottom: 5px;
    margin-top: 0;

}

.dropdown6 {
    width: 200px;
}


.main-home-container1 > *:first-child {
    display: flex;
    flex-direction: column;
    align-items: center;

}

#dots {
    margin-top: 0;
    margin-bottom: 300px;
/* margin-left: 100px; */
}


.post-dots-container1 {
    height: 20px;
    font-size: 50px;
    color: rgb(166, 149, 157);
    margin-left: 20px;
    margin-right: 0;
    margin-top: 10px;
    /* border: 2px solid red; */
  }

  .post-dots-container1:hover {
    cursor: pointer;
    color: aqua;
  }


  .transparent-button {
    margin-top: 100px;
    color: rgb(60, 59, 59);
    font-size: 16px;
  }


  .remove-post {

    background-color: transparent;
  }


  .menu-text1 {
    /* border: 2px solid red; */
    font-style: oblique;
    margin: 0;
    border: none;
    background-color: transparent;
    width: 80px;
    height: 20px;
    color: rgb(147, 145, 145);
  }

  .menu-text1:hover {
    cursor: pointer;
    background-color: rgb(30, 206, 206);
    color: white;
  }

  .duza-kropka {
    /* color: rgb(30, 206, 206); */
    color: rgb(3, 241, 209);
    margin-right: 2px;
    font-size: 24px;
  }
