.profile-dropdown {
  position: absolute;
}

.hidden {
  display: none;
}

.nav-container {
  /* border: 2px solid green; */
  z-index: 8;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 25px 18px 25px;
  padding-bottom: 5px;
  border-bottom: 1px solid lightgrey;
  z-index: 3000;
}

.INSIDEOUT-logo {
  /* width: 160px; */
  height: 35px;
  margin-left: 30px;
  padding-top: 0;
  object-fit: contain;
}

.nav-profile {
  display: flex;
  align-items: center;
  margin-right: 60px;
}

.new-post {
  text-decoration: none;
  color: black !important;
  margin-bottom: 8px;
  margin-right: 20px;
  font-size: 28px;
  font-weight: 100;
  right: 110px;
  top: 40px;
  padding: 7px 12px;
  background-color: transparent !important;
  /* border: none !important; */
  /* border: 2px solid red; */
}

.new-post:hover {
  color: aqua !important;
}

.menu-text.new-post-modal1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-left: 50px;
  width: 170px;
  margin-bottom: 10px;
  /* border: 2px solid red; */
}

.new-post-modal1:hover {
  cursor: pointer;
  transform: scale(1.05);
  background-color: aqua;
}

.profile-button {
  background-color: white;
  border: white;
  border-radius: 20px;
  margin-bottom: 10px;
}

.fa-user-circle {
  margin-top: 2px;
  font-size: 28px;
  color: black;
}

.fa-user-circle:hover {
  color: aqua;
}

.logout-button {
  border: rgb(30, 206, 206);
  background-color: rgb(30, 206, 206);
  font-size: 13px;
  border-radius: 5px;
  padding: 8px 15px;
  width: 100%;
  height: 30px;
  color: white;
  margin-left: auto;
  /* margin-top: 45px; */
}

.logout-button:hover {
  cursor: pointer;
  background-color: aqua;
}

.email {
  margin-top: 0;
  margin-bottom: 5px;
  padding-bottom: 0;
  font-size: 14px;
  font-style: oblique;
  text-decoration: none;
  color: black;
}

.text {
  text-decoration: none;
  /* color: rgb(161, 158, 158); */
  color: black;
  margin-top: 0;
  margin-bottom: 2px;
  padding-bottom: 0;
  font-weight: 300;
  /* font-style: oblique; */
}

.dots {
  /* border: 2px solid red; */
  font-size: 18px;
  color: rgb(161, 158, 158);
  margin: 0;
}

.logout-dropdown {
  position: absolute;
  background-color: transparent;
  padding: 10px;
  width: 75px;
  height: 80px;
  top: 10px;
  border-radius: 7px;
  left: -27px;
  z-index: 50;
}

.logout-dropdown1 {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: transparent;
  padding: 10px;
  width: 160px;
  height: 180px;
  top: 10px;
  border-radius: 7px;
  left: -40px;
  z-index: 50;
}

.profile-small-button {
  /* border: 2px solid red; */
  display: flex;
  flex-direction: row;
  justify-content: baseline;
  align-items: center;
  margin-bottom: 5px;
  margin-top: 5px;
}

.menu-text {
  border: none;
  border: rgb(30, 206, 206);
  background-color: rgb(30, 206, 206);
  border-radius: 10px;
  width: 100px;
  height: 30px;
  color: white;
}

.menu-text:hover {
  cursor: pointer;
  background-color: aqua;
}

.link {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  justify-content: baseline;
  width: 100%;
  height: 20px;
  font-size: 14px;
  color: black;
  margin-top: 150px;
  font-size: 15px;
  margin-right: 50px;
}

.link1 {
  /* border: 2px solid red; */
  display: flex;
  flex-direction: row;
  align-items: baseline;
  justify-content: baseline;
  width: 100%;
  height: 20px;
  font-size: 14px;
  color: black;
  margin-top: 20px;
  font-size: 15px;
  margin-right: 50px;
}

.link:hover {
  cursor: pointer;
  color: aqua;
}

.link1:hover {
  cursor: pointer;
  color: aqua;
}

.nav-links1 {
  /* border: 2px solid red; */
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 60px;
  width: 100%;
}

.link3 {
  /* border: 2px solid red; */
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 10px;
  color: #a19e9e;
  font-size: 14px;
  margin-bottom: 5px;
  margin-top: 8px;
}

.link4 {
  /* border: 2px solid red; */
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 20px;
  font-size: 14px;
  color: rgb(161, 158, 158);
  margin-bottom: 10px;
}

.link3:hover {
  cursor: pointer;
  color: aqua;
}

.link4:hover {
  cursor: pointer;
  color: aqua;
}
