.Masonry {
  flex-direction: column;
}

.image-grid {
  max-width: 1024px;
  margin: 0 auto;
  padding: 0 0;
  box-sizing: content-box;
  min-height: calc(100vh - 100px);
}

.my-masonry-grid {
  display: flex;
  margin-left: 0;
  width: auto;
}

.my-masonry-grid_column {
  padding-left: 0;
  background-clip: padding-box;
}

.my-masonry-grid_column > div {
  max-width: 100%;
  width: 100%;
  margin-bottom: 0;
}
