.photo {
    position: relative;
    overflow: hidden;
    transition: transform 0.3s;
    width: 100%;
}

.post-photo {
    width: 100%;
    max-height: 100%;
  }

.photo:hover .post-photo {
    cursor: pointer;
    transform: scale(1.05);
}

 .post-container {
    padding: 5px;
  }


  @media screen and (max-width: 768px) {
    .image-grid {
      padding: 10px;
    }
  }
